modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Start All"

[[workflows.workflow]]
name = "Backend Server"
author = 11399030
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm i"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Frontend Dev"
author = 11399030
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm i"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start All"
author = 11399030
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && npm i && npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm i && npm run dev"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
